<!-- Form -->
<% if @post&.errors&.any? %>
  <%= @post.errors.full_messages[0] %>
<% end %>

<%= form_with model: @post, id: "main-post-form" do |form| %>
  <%= form.text_area :content,
    class: "form-control",
    placeholder: "What is happening?!",
    rows: 3,
    minLength: 2,
    maxLength: 99,
    required: true
  %>
  <%= form.submit "Post", class: "btn btn-primary mt-2 mb-2" %>
<% end %>

<hr />

<!-- Posts -->
<% @posts.each do |post| %>
  <div class="card mb-2">
    <div id="card-<%= post.id %>">
      <div class="card-header">
        <%= link_to(post.user.username,
          posts_path(username: post.user.username)) %>
        &bullet;
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
      <div class="card-body">
        <div>
          <%= sanitize post.content.gsub(/#(\w+)/, link_to('#\1', '?q=%23\1')) %>
        </div>
        <% if post.original_post %>
          <div class="card mt-2">
            <div class="card-header">
              <%= link_to(post.original_post.user.username,
                posts_path(username: post.original_post.user.username)) %>
              &bullet;
              <%= time_ago_in_words(post.original_post.created_at) %> ago
            </div>
            <div class="card-body">
              <div>
                <%= sanitize post.original_post.content.gsub(/#(\w+)/, link_to('#\1', '?q=%23\1')) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-secondary"
        data-bs-toggle="modal"
        data-bs-target="#post-modal"
        data-post-id=<%= post.id %>
      >
        <%= post.reposts_count %> Reposts
      </button>
    </div>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="post-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <%= form_with model: @post do |form| %>
          <%= form.text_area :content,
            class: "form-control",
            placeholder: "Comment",
            rows: 3,
            minLength: 2,
            maxLength: 99,
            required: true
          %>
          <%= form.hidden_field :original_post_id %>
          <div class="card mb-2 mt-3" id="modal-original-post"></div>
          <%= form.submit "Post", class: "btn btn-primary mt-2 mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
