
<% if @post&.errors&.any? %>
  <%= @post.errors.full_messages[0] %>
<% end %>

<%= form_with model: @post do |form| %>
  <%= form.text_area :content, class: "form-control", placeholder: "What is happening?!", rows: 3 %>
  <%= form.submit "Post", class: "btn btn-primary mt-2 mb-2" %>
<% end %>

<hr />

<% @posts.each do |post| %>
  <div class="card mb-2">
    <div class="card-header">
      <%= link_to(post.user.username, posts_path(username: post.user.username)) %> |
      <%= time_ago_in_words(post.created_at) %>
    </div>
    <div class="card-body">
      <%= sanitize post.content.gsub(/#(\w+)/, link_to('#\1', '?q=%23\1')) %>
    </div>
  </div>
<% end %>
